/* This sets the body and html to full height and disables the overall scrollbar */
body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.learn-and-practice-landing-page-container {
  display: flex;
  height: 100vh;
  overflow: hidden; /* Hide overflow */
}

.learn-and-practice-landing-page-container * {
  color: aliceblue;
}

.left-nav-bar {
  width: 20%;
  height: calc(100vh - 140px); /* Subtract extra height to account for padding and the windows horizontal bar at the bottom */
  overflow-y: auto;
  padding: 16px;
  border-right: 1px solid #ccc;
}

.nav-section {
  margin-bottom: 16px;
}

.main-content {
  width: 80%;
  height: 100%;
  padding: 16px;
  overflow-y: hidden;
}

.content-section {
  display: flex;
  justify-content: space-between;
}

.text-section {
  width: 50%;
}

.image-section {
  width: 50%;
  text-align: center;
}

.image-section img {
  max-width: 100%;
}
