/********** Container holding everything on the learn and practice pages **********/

.learn-and-practice-container {
  margin-left: 230px; /* To center it within the right side of the page, left navbar takes up 230 pixels width*/
  height: calc(100vh - 115px);
  display: flex;
  justify-content: space-between; /* Adjust content and buttons */
  align-items: flex-start; /* Align items to the top */
  position: relative; /* Sets the positioning context for child elements */
  /* height: calc(100vh - 140px); 100vh shows a scroll bar because of the top navbar, so we adjust it to take off 140 pixels */

}

/* Make all text aliceblue color on the learn and practice container (entire page) */
.learn-and-practice-container * {
  color: aliceblue;
}

/* Make the forms have black text for the input fields */
.learn-and-practice-container form input{
  color: black; /* Override the 'learn and practice container' color of aliceblue */
}

/********** End of Container holding everything on the learn and practice pages **********/

/********** Styling for left nav-bar **********/

.left-nav-bar {
  width: 230px;
  overflow-y: auto;
  padding: 12px 16px 0px 16px;
  border-right: 3px solid aliceblue;
  position: fixed;
  top: 95px; /* Offset from top due to top nav bar */
  left: 0;
  bottom: 0; /* Ensure the nav bar extends to the bottom of the view */
  z-index: 100;
}


.left-nav-bar-section {
  background-color: #393E46;
  border-radius: 15px;
  padding: 3px 15px 3px 15px;
  margin-bottom: 20px;
}

.active {
  color: rgb(255, 204, 102);
}

.small-spaced-list li{
  margin-bottom: 5px;
}

.interactive-tutorial-text {
  font-size: 20px;
}

/* h2 text on the left side navbar */
.left-nav-bar h2 {
  color: rgb(255, 204, 102);
  font-size: 14px;
}

/* Styling the topics in the left navbar */
.left-nav-bar ul {
  font-size: 14px;
  padding-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.left-nav-bar li:hover {
  color: rgb(255, 204, 102);
}

/********** End of Styling for left nav-bar **********/

/********** Styling for main content (everything outside of the left navbar) **********/

.main-content {
  margin-left:75px;
  width: 100%;
  height: calc(100vh - 115px);
  padding: 0px 50px 15px 50px; /* top right bottom left */
  /* padding-bottom: 60px; */ /* FOR glift puzzle rendering pages - This allows the previous and next page button to not overlap the content at the bottom of the page */
}

.main-content h2 {
  color: rgb(255, 204, 102);
  font-size: 26px;
  margin-bottom: 5px;
}

/********** End of Styling for main content **********/

/********** Styling for content section (everything outside of h2 text for the main-section) **********/

.content-section {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px; /* This allows the previous and next page button to not overlap the content at the bottom of the page */
}

.content-text-section {
  width: 100%;
}

.spaced-list li {
  margin-bottom: 10px;
}

.how-to-play-go-text {
  color: rgb(255, 204, 102);
  font-weight: bold;
}

.content-image-section {
  width: 50%;
  text-align: center;
}

.content-image-section img {
  width: 400px;
  height: 400px;
}

/********** End of Styling for content section **********/

/********** Styling diagrams, text for diagrams, and next page button **********/

.diagram-container {
  display: flex;
}

.diagram-container img {
  width: 400px;
  height: 400px;
}

.image-text-wrap {
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 50px;
  max-width: 400px;
}

.image-text-wrap {
  position: relative;
}

/* Container for both buttons */
.button-container {
  display: flex;
  position: fixed; /* Position relative to the parent container */
  bottom: 10px;
  right: 10px;
}

/* Special layout for glift puzzle pages, we want the buttons up down instead of left right so they don't overlap on the page */
.button-container.glift-puzzle-layout {
  flex-direction: column;
}

.next-page-button {
  margin-left: 20px; /* 20 pixels gap between the buttons */
  bottom: 10px;
  right: 10px;
  background-color: #00ADB5;
  border: 3px solid black;
  color: aliceblue;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  text-shadow:
  -.75px -.75px 0 #000,
  .75px -.75px 0 #000,
  -.75px .75px 0 #000,
  .75px .75px 0 #000;
}

.next-page-button:hover {
  border: 3px solid aliceblue;
}

.previous-page-button {
  bottom: 10px;
  left: 10px;
  /* right: 20px; */
  background-color: #00ADB5;
  border: 3px solid black;
  color: aliceblue;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  text-shadow:
  -.75px -.75px 0 #000,
  .75px -.75px 0 #000,
  -.75px .75px 0 #000,
  .75px .75px 0 #000;
}

/* Specific styling for tutorial context */
.tutorial-button {
  left: 17.75vw;
}

.previous-page-button:hover, .tutorial-button:hover {
  border: 3px solid aliceblue;
}

/********** End of Styling diagrams, text for diagrams, and next page button **********/

.important-text {
  color: rgb(255, 204, 102);
  font-weight: bold;
}

/************** Styling tutorial puzzle pages (centering everything, vertical layout) *************/

.tutorial-puzzle-page {
  margin: 0 auto; /* Center text in container */
  width: 50%;
}

.tutorial-puzzle-page h2 {
  color: rgb(255, 204, 102);
}

.tutorial-puzzle-page img {
  height: 100%;
  max-width: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

/********* Toggle show answer text ****************/

.toggle-text {
  cursor: pointer;
  border: 1px solid #000;
  display: inline-block;
  padding: 2px 8px;
  margin-top: 8px;
  border: 3px solid aliceblue;
  border-radius: 15px;
}

.toggle-text:hover {
  background-color: rgb(255, 204, 102);
}

/********* End of Toggle show answer text ****************/

.page-not-found-text {
  margin: 50 auto;
}
