/************ Styling for form and questions / multiple choice buttons lining up left right ***********/

.quiz-form {
  max-width: 600px;
  margin: 40px auto;
}

.question {
  background-color: #393E46;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  font-weight: bold;
}

.question p {
  margin-bottom: 15px;
  margin-top: 0px;
}

.question label {
  display: inline; /* Makes the label text inline with the radio button */
  vertical-align: middle; /* Aligns text vertically */
  cursor: pointer;
}

.question .option {
  margin-top: 10px; /* Spacing between the options */
}

.question input[type='radio'] {
  margin-right: 5px;
  vertical-align: middle; /* Aligns radio buttons vertically */
  cursor: pointer;
}

/************ End of Styling for form and questions / multiple choice buttons lining up left right ***********/

/************* Styling images within quiz form *************/

.quiz-flex-container {
  display: flex;
  justify-content: space-between; /* This ensures there is space between your content and image containers */
}

.quiz-content {
  flex: 1; /* This gives an equal amount of space to the content container */
  /* Do not center align items here as we want the default alignment to be left for text and options */
}

.quiz-image-container {
  flex: 1; /* This gives an equal amount of space to the image container */
  display: flex; /* Makes the image container a flex container */
  flex-direction: column; /* Stacks children (image and enlarge text) vertically */
  align-items: center; /* Centers them horizontally within the container */
  justify-content: center; /* Centers them vertically within the container */
}

/* Ensure the image is not oversized */
.quiz-image-container img {
  max-width: 100%;
  max-height: 200px;
  cursor: pointer;
  border: 3px solid black;
  object-fit: contain;
}

.quiz-image-container img:hover {
  border: 3px solid aliceblue;
}

.enlarge-text {
  display: block;
  margin-top: 10px;
  font-size: 12px;
  text-align: center;
  width: 100%;
}

/***** Answers css *****/

.answer {
  /* 20 pixel margin above, but then make the bottom negative margin so the question section isn't stretched 20 extra pixels for no reason */
  margin-top: 20px;
  margin-bottom: -20px;
}

.show-all-answers-button {
  text-shadow:
  -.5px -.5px 0 #000,
  .5px -.5px 0 #000,
  -.5px .5px 0 #000,
  .5px .5px 0 #000;
  font-weight: bold;
  margin-left: 10px;
}

/***** End of Answers css *****/
