.edit-modal-form {
  box-sizing: border-box;
  padding: 20px;
  background-color: #222831;
  border: 3px solid black;
  border-radius: 15px;
  margin-bottom: 0px;
  width: 350px;
  height: auto;
}

.edit-modal-form .updateButton {
  width: 100%;
  margin-top: 15px;
  margin-bottom: -5px;
  border: 3px solid black;
  height: 30px;
  background-color: #00ADB5;
  color: aliceblue;
  font-weight: bold;
  font-family: "Manrope", sans-serif;
}

.edit-modal-form .updateButton:hover {
  border: 3px solid aliceblue;
}

.edit-modal-form label {
  color: aliceblue;
  margin-top: 10px;
}

.edit-modal-form input,
.edit-modal-form select {
  width: 100%;
  font-family: "Manrope", sans-serif;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}


/* .game-date-label input {
  cursor: pointer;
} */

/* Putting fields left right for related fields */

.sgf-related-fields {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Aligns items vertically */
}

.sgf-related-fields-komi-result {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; /* Aligns items vertically */
  margin-bottom: 10px;
}

.sgf-related-fields label {
  flex-basis: calc(50% - 10px); /* Allocates space, the 10px is for any possible margin or padding */
}

.sgf-related-fields-komi-result label {
  flex-basis: calc(50% - 10px); /* Allocates space, the 10px is for any possible margin or padding */
}

.sgf-related-fields .rank-label {
  flex-basis: calc(25% - 10px);
}

.sgf-related-fields .player-label {
  flex-basis: calc(75% - 10px);
}

/* ERRORS */

.edit-sgf-errors {
  color: red;
}
