#gliftContainer {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
}

#gliftContainer-internal-wrapper {
  background-color: lightgrey;
}

.glift-comment-box {
  background-color: aliceblue !important;
}

.rankingChangeText {
  color: aliceblue;
  /* position: relative;
  top: -300px;
  left: 900px; */
}
