/* hide the menu when we click off the menu */
.hidden {
  display: none;
}

/* use pixel values instead of relative values because we want the logo and button to stay the same size on a resize of the viewport */
.logo {
  position: fixed;
  top: 20px;
  left: 30px;
  width: 40px;
}

.loginText {
  margin-top: 0px;
}

.signupText {
  margin-top: 0px;
}

/* style the profile button and the i tag (icon) within it */
/* make size in pixels because we want it to stay the same size even when the viewport gets smaller */
.profile-button i {
  font-size: 40px;
  padding: 3px;
}
/* move the STARTING POSITION of the profile button slightly away from the top right corner of the screen */
.profile-button {
  transform: translate(-45px, 20px);
  cursor: pointer;
  /* align the profile icon to the top of the login and signup buttons on the right of it */
  align-self: flex-start;
  border: 2px solid black;
  border-radius: 20px;
}

.profile-button.dropdown-active .hamburger-icon {
  display: none;
}

/* make the dropdown menu absolute now, list-style: none removes the white bullets on the left of the login and signup elements */
.profile-dropdown {
  list-style: none;
  position: absolute;
  padding-left: 0px;
  padding-right: 0px;
  top: 100%; /* Position it right below the profile-button */
  cursor: pointer;
  z-index: 1001; /* Make sure it appears above other content */
}

/* when the user is loggedin, don't use the pointer clicker cursor */
.profile-dropdown.logged-in {
  text-align: center;
  cursor: default;
  margin-top: 30px;
  margin-right: 44px;
  z-index: 1002;
  background: white;
  border: 3px solid black;
}

.profile-dropdown.not-logged-in {
  text-align: center;
  cursor: default;
  margin-top: 30px;
  margin-right: 44px;
  /* padding-right: 30px; */
  z-index: 1002;
  background: white;
  border: 3px solid black;
  width: 100px;
  cursor: pointer;
}

.profile-dropdown.not-logged-in li {
  /* text-align: center; */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 50px;
  width: 100%;
}

.profile-dropdown.logged-in li {
  /* text-align: center; */
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 29px;
  width: 100%;
}

/* only have the grey background hover effect when the user isn't logged in */
.profile-dropdown.not-logged-in li:hover {
  background-color: lightgrey;
  border: 2px solid black;
  border-radius: 15px;
  width: 80px;
  margin-left: 10px;
}

/* the logout button needs the pointer effect too */
.profile-dropdown li:last-child button {
  cursor: pointer;
}

.profile-dropdown li:last-child button:hover {
  cursor: pointer;
  background-color: grey;
}

/* Adding lines above and below "manage spots" in logged in user menu */

.li-manage-spots-button {
  padding-top: 2px;
  padding-bottom: 2px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.li-manage-spots-button .redirectCurrentSpotsButton {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logout-button {
  font-size: 16px;
  border: 3px solid black;
  border-radius: 15px;
  background-color: #464545;
}

/* Make the disabled button look ghosted out */
.disabledButton {
  opacity: 0.5;
  cursor: not-allowed;
}

.demoLoginButton {
  background: none;
  border: none;
  color: teal;
  text-decoration: underline;
  cursor: pointer;
  font-size: inherit;
  font-weight: bold;
  padding: 0;
}

.loginButton:disabled {
  cursor: default;
  color: black;
}

.loginButton:not(:disabled) {
  cursor: pointer;
  color: white;
}

.loginButton {
  font-weight: bold;
  position: relative;
  border: 3px solid black;
}

.emailField {
  border: 3px solid black;
}

.usernameField {
  border: 3px solid black;
}

.firstNameField {
  border: 3px solid black;
}

.lastNameField {
  border: 3px solid black;
}

.passwordField {
  border: 3px solid black;
}

.confirmPasswordField {
  border: 3px solid black;
}

.signupButton {
  font-weight: bold;
  position: relative;
  border: 3px solid black;
}

.signupButton:disabled {
  cursor: default;
  color: black;
}

.signupButton:not(:disabled) {
  cursor: pointer;
  color: white;
}

.errorMessage p {
  color: red;
  text-align: center;
  font-size: 20px;
}

.demoLoginButton {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.navigation-container {
  /* Keep in top right of screen, even on scroll, use position: fixed */
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  /* Put the items in the container to the right side of the container */
  justify-content: flex-end;
  /* align items vertically */
  align-items: center;
}

.navbar {
  /* adds a grey line ABOVE the navbar now after we removed the ul and li elements... */
  border-bottom: 2px solid lightgrey;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  /* navbar was a tiny div with basically no height at the very top of the page */
  height: 90px;
  /* height: 80px; */
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  z-index: 1000; /* Ensure the navigation bar is above other content */
}

/* the .modal and .modal-overlay create the greyed out background when the user is on the modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* also move the modal to the center of the screen using transform property! */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

/****** Create a new spot button styling below *****************/

.spot-button-menu {
  padding-top: 35px;
  color: teal;
  text-decoration: none;
  font-weight: bold;
}

.create-spot-button-wrapper {
  margin-right: 170px !important;
}

.create-spot-button {
  background-color: white !important;
  border: none !important;
  margin-top: 33px !important;
}

.create-spot-button:hover {
  /* padding: 5px; */
  border: 3px solid black !important;
  border-radius: 15px !important;
  background-color: lightgrey !important;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
}

/*****************  Manage Spots button styling below *******************/

.redirectCurrentSpotsButton {
  text-decoration: none;
  color: teal;
  border: none;
  background: none;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
}

.redirectCurrentSpotsButton:hover {
  padding: 5px;
  background-color: lightgrey;
  border: 3px solid black;
  border-radius: 15px;
  margin-top: 5px;
  margin-bottom: 2px;
}
