/* For potential puzzles landing page, NOT the rendered glift potential puzzles array of sgfs */

.user-potential-puzzle-table {
  padding-top: 50px;
  display: grid;
  max-width: 1300px;
  /* Center thumbnails at screen widths over 1200px */
  margin: auto;
  /* Center items to the center of the screen for any size, notably any screen width under 1200px */
  /* Issue is this causing the upload sgf button to no longer be aligned with the thumbnails below it! */
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 40px;
}

.count-value {
  color: aliceblue;
  /* text-align: center; */
}

.count-value .date-text {
  margin-right: 15px;
}

/* Styling sgf name and game date to be white color text */
.potential-puzzle-sgf-name {
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 10px;
}

.potential-puzzle-game-date {
  color: aliceblue;
}

/* Styling sgf name and game date to be white color text above */

.header-title {
  margin-top: 130px;
  margin-bottom: -13px;
  text-align: center;
  font-size: 24px;
  color: aliceblue;
}
