.glift-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saveCurrentPuzzle {
  margin-top: -150px;
  margin-right: -600px;
  max-width: 150px;
  font-weight: bold;
  text-align: left;
  border: 5px solid #00ADB5;
  padding: 10px;
  color: aliceblue;
  background-color: #222831;
  border-radius: 15px;
  z-index: 1000; /* Anything above 1 seems to work, otherwise the button and text are "invisible" */
}

.message-container {
  height: 30px;
  margin-top: 0px;
  margin-right: -600px;
  text-align: center;
  z-index: 1000;
}

.saving-text, .save-error, .save-success {
  line-height: 30px;
  color: black;
  font-weight: bold;
  z-index: 1000;
}

.save-error {
  color: red;
  text-shadow: none;
}

.save-success {
  color: green;
  text-shadow: none;
}
