.filter-wrapper {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 115px;
}

.filter-public-puzzles, .filter-dropdown {
  display: inline-block;
  vertical-align: top;
  text-shadow: none; /* Don't show .75 pixel black border around letters */
}

.filter-public-puzzles label {
  display: inline-block;
  background-color: #00ADB5;
  color: aliceblue;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 15px;
}

.filter-public-puzzles label:hover {
  border: 3px solid aliceblue;
}

.filter-dropdown {
  margin-left: 20px; /* Distance from the filter button */
  border: 3px solid black;
  padding: 10px;
  background-color: aliceblue;
  color: black;
  /* box-shadow: 0px 0px 10px #aaa; */
}

.public-puzzle-thumbnail img{
  border: 3px solid black;
  width: 240px;
  height: 240px;
}

.public-puzzle-thumbnail img:hover {
  border: 3px solid aliceblue;
}

.public-puzzle-table {
  display: grid;
  max-width: 1300px;
  /* Center thumbnails at screen widths over 1200px */
  margin: auto;
  /* Center items to the center of the screen for any size, notably any screen width under 1200px */
  /* Issue is this causing the upload sgf button to no longer be aligned with the thumbnails below it! */
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 40px;
}

.outer-wrapper img {
  margin-bottom: 10px;
}

/********* Puzzle Details / Category, rank, pencil icon, trash icon ************/

.puzzle-details {
  display: flex;
  font-size: 11px;
  color: aliceblue;
}

.puzzle-category {
  margin-right: 10px;
}

.public-puzzles-pencil-icon {
  margin-left: 10px;
  margin-right: 8px;
  margin-top: 0px;
  font-size: 8px;
  cursor: pointer;
}

.public-puzzles-pencil-icon:hover {
  border: 3px solid aliceblue;
}
