
/* .outer-wrapper {
  max-width: 1300px;
  margin: auto;
} */

.upload-sgf-button {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 115px;
}

.upload-sgf-button label {
  display: inline-block;
  background-color: #00ADB5;
  color: aliceblue;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  border: 3px solid black;
  border-radius: 15px;
}

.upload-sgf-button label:hover{
  border: 3px solid aliceblue;
}

.upload-sgf-button input[type="file"] {
  display: none;
}

.uploaded-sgf-thumbnail img {
  width: 240px;
  height: 240px;
}

.user-sgf-table {
  display: grid;
  max-width: 1300px;
  /* Center thumbnails at screen widths over 1200px */
  margin: auto;
  /* Center items to the center of the screen for any size, notably any screen width under 1200px */
  /* Issue is this causing the upload sgf button to no longer be aligned with the thumbnails below it! */
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 40px;
}

.outer-wrapper img {
  margin-bottom: 10px;
}

/* SGF DETAILS */

.sgf-details {
  font-size: 12px;
  color: aliceblue;
  /* Ensure the text doesn't overflow, since our thumbnails are always at 240 pixels wide */
  max-width: 240px;
  /* margin-bottom: 10px; */
}

/* Create Puzzle from SGF button and pencil edit icon! */

.sgf-details-top-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%; /* Make sure this matches the thumbnail's max width */
}

.sgf-created-at {
  margin-right: auto; /* Pushes the rest of the items to the far right */
}

.create-puzzles-button {
  /* margin-left: 10px; */
  color: aliceblue;
  background-color: #00ADB5;
  font-size: 11px;
  padding-top: 0px;
  font-weight: bold;
  border-radius: 15px;
}

.create-puzzles-button:hover {
  border: 3px solid aliceblue;
}

.pencil-icon {
  padding-top: 0px;
  font-size: 11px;
  margin-left: 10px;
  cursor: pointer;
}

.pencil-icon:hover {
  border: 3px solid aliceblue;
}

/* 2nd row (sgf name) styling */


.sgf-page-sgf-name {
  padding-top: 5px;
  padding-bottom: 5px;
}
