/* Add site wide styles */
#root {
  margin-top: 100px;
  min-width: 300px;
}

button {
  font-family: "Manrope", sans-serif;
  /* background-color: #464545; */
  background-color: #00ADB5;
  border: 3px solid black;
  border-radius: 15px;
  color: aliceblue;
  cursor: pointer;
}

.updateButton {
  text-shadow:
  -.75px -.75px 0 #000,
  .75px -.75px 0 #000,
  -.75px .75px 0 #000,
  .75px .75px 0 #000;
}

.deleteButton {
  text-shadow:
  -.5px -.5px 0 #000,
  .5px -.5px 0 #000,
  -.5px .5px 0 #000,
  .5px .5px 0 #000;
}

.cancelButton {
  text-shadow:
  -.5px -.5px 0 #000,
  .5px -.5px 0 #000,
  -.5px .5px 0 #000,
  .5px .5px 0 #000;
}

.submitButton {
  text-shadow:
  -.75px -.75px 0 #000,
  .75px -.75px 0 #000,
  -.75px .75px 0 #000,
  .75px .75px 0 #000;
}

/* Exclude the profile button to have a black background color and text color of white */
.profile-button {
  background-color: inherit;
  color: inherit;
}

/* Give class of disabled button to buttons that have to be disabled */
.disabled-review-button:disabled {
  background: grey;
  cursor: inherit;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #222831;
  text-shadow:
  -.75px -.75px 0 #000,
  .75px -.75px 0 #000,
  -.75px .75px 0 #000,
  .75px .75px 0 #000;
}

#gliftContainer {
  text-shadow: none;
}

.navbar {
  background-color: #393E46;
}

.unauthorized-centered-message {
  color: aliceblue;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  /* z-index: 1000; */
}

/* Remove scrollbar space for Chrome */
/* body::-webkit-scrollbar {
  width: 0;
} */

/* Remove scrollbar space for FireFox, IE 10+ */
/* body {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
} */

/******** glift comment text  ************/
.glift-text-box p {
  color: black;
  font-weight: bold;
  padding-top: 200px !important;
  padding-left: 10px !important;
}
